* {
    margin: 5;
    padding: 5;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center; /* Align items vertically centered */
    justify-content: space-between; /* Adjust spacing between elements */
    padding: 10px; /* Add some padding */
}

.logo-container {
    display: flex;
    align-items: center; /* Align items vertically centered */
}

.logo-container h1 {
    margin-right: 10px; /* Add some space between text and image */
}

.logo-container img {
    vertical-align: middle; /* Align image vertically with text */
}

nav {
    display: flex;
    gap: 10px; /* Space between navigation links */
}

a {
    text-decoration: none;
    color: black;
}

hr {
    margin: 10px 0; /* Space above and below the horizontal rule */
    color: red; 
}

p {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

p1 {
    font-family:'Times New Roman', Times, serif;
    color: red;
    margin-top: 15px;
    margin-right: 0px;
}

img {
 box-shadow: 5px 15px 10px rgba(0, 0, 0, 0.4);
}

.no-shadow{
    box-shadow: none;
}

.link{
    color: blue;
    text-decoration: underline;
}

.featured-items{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.item {
    text-align: center; /* Centers text under each image */
    flex: 1 1 calc(50% - 20px); /* Makes items take up 50% of the container width minus the gap, adjusting for responsiveness */
}

.item img {
    max-width: 100%; /* Ensures images scale down if needed */
    height: auto; /* Keeps image aspect ratio */
}
